
.GuildList {
    height: 90%;
    border: 3px solid black;
    border-radius: 8px;
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;


    margin-bottom: 5%;
    /* margin-top: 5%; */
    margin-left: 5%;
    margin-right: 5%;
    overflow: scroll;
}

.GuildList_tab {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    margin-bottom: 15px;
    font-size: 18px;
}

.GuildList::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* body 1 */
.GuildHeaderButton {
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    /* border: 3px solid pink; */
}

.GuildHeaderButton button {
    cursor: pointer;
    border-radius: 8px;
    background-color:transparent;
    margin-right: 10px;
}

/* flex 아이템 */
.GuildPerson {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
}

.FriendName {
    width: 45%;
    /* border-right: 3px solid black; */
}

.FriendAchieve {
    width: 25%;
    /* border-left: 3px solid black;
    border-right: 3px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.FriendAchieve::after {
    content: "";
    height: 1rem;
    border-right: 3px solid black;
    padding-left: 8px;
    /* margin: 20px auto; */
}

.FriendAchieve::before {
    content: "";
    height: 1rem;
    border-left: 3px solid black;

}

.FriendButton {
    display: flex;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-evenly;
}

.FriendButton button {
    cursor: pointer;
    border-radius: 8px;
    width: 3rem;
    /* height: 3rem; */
    
    /* background-color: none; */
    /* width: 0%; */
    background-color:transparent;
}

/* 길드 o 관리자 x */
.GuildNoAdmin {
    
}
.GuildNoAdminHeader {
    display: flex;
    border-bottom: 3px solid black;
    /* height: 10%; */
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height:auto;
}

.titless {
    padding-top: 20px;
    text-align: end;
    font-size: 50px;
    height:100%;
    /* background-color: red; */
    white-space: nowrap;
   
    /* display: block; */
    /* font-size: 300px; */
}

/* .title p {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    
} */

.GuildNoAdminHeader .button-text {
    /* cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    background-image: url('../../public/myresource/btn.png'); */
    /* font-size: 3.5em; */
    
}

.btm_image {
    /* padding: 0;
    margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
}

.btm_image img {
    /* padding: 0; */
    width: 7em;
}

/* 길드 0 관리자 o */
.GuildAdminWrap {
    /* border: 3px solid black; */
    /* border-radius: 8px; */
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 2px solid #ececec;
}

.GuildAdminWrap2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 1em;
    margin-right: 1em; */
    height: 3em;
    font-size: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.GuildAdminWrap img {
    height: 3em;
}

.GuildUsersWrap{
    /* border: 3px solid black; */
    /* border-radius: 8px; */
    /* padding-left: 5em;
    padding-right: 5em; */
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    
}


.GuildUserNo{
    border-bottom: 2px solid #ececec;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    
}

.GuildUserNo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

.GuildUserNo img {
    height: 3.5em;
}

.GuildUser{
    border-bottom: 1px solid black;
    /* margin-bottom: 10px; */
}

/* 길드 x */
.GuildItem {
    /* border-bottom: 3px solid black; */
    border: 3px solid black;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    margin-bottom: 15px;
    font-size: 24px;
}


/* 
.CreateButton--active {
    color: red
} */




/* 길드 x  */
.onCreateGuildHeaderButton {
    display: flex;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.onCreateGuildHeaderButton input {
    
}

.inputWrapGuild {
    display: flex;
    border-radius: 10px;
    padding: 16px;
    /* margin-top: 8px; */
    background-color: white;
    border: 1px solid gray;
  }
  
  .inputWrapGuild:focus-within {
    border: 1px solid rgb(146, 89, 67);
  }
  
  .inputWrapGuild input {
    width: 100%;
    outline: none;
    border: none;
    height: 20px;
    font-size: 16px;
    /* font-weight: 400; */
  }
  
  .input::placeholder {
    color: #dadada;
  }
