.HamStatus {
    /* border-top: 3px solid black; */
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40%;
}

.bar {
    color: green
}

.StatButton{
    position: absolute;
    width: 6vh;
    height: 6vh;
    cursor: pointer;
    background-color: #f9fbe7;
    border: none;
    right: 0;
    bottom: 0;
}


.HamExp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProgressBar{
    /* width: 100%; */
    /* margin-left: 10%; */
    margin-top: 60px;
    position: absolute;
    z-index: 1;
}

.ExpBar {
    height: 4em;
    position: absolute;
    /* z-index: 10; */
}

.ExpBar img {
    height: 5em;
}