
  .contentWrap {
    
  }

  
  .inputTitle {
    font-size: 12px;
    font-weight: 600;
    color: #262626
  }
  
  .inputWrap {
    display: flex;
    /* border-radius: 8px; */
    padding: 16px;
    /* margin-top: 8px; */
    background-color: white;
    border: 1px solid gray;
  }
  
  .inputWrap:focus-within {
    border: 1px solid blue;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .input::placeholder {
    color: #dadada;
  }
  
  .errorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
  }
  
  .bottomButton {
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    /* background-color: #9230f4; */
    background-color: blue;
    border-radius: 64px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .bottomButton:disabled {
    background-color: #dadada;
    color: white;
  }