.app {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  /* background: repeating-linear-gradient(150deg, #7cac54, #7cac54 20px, #3f8744 0, #3f8744 40px); /
  / board를 가운데 정렬 */
  background-image: url("../../public/sawdust.png");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* filter: brightness(200%); */
}

.Board {
min-width: 80%;
min-height: 100%;
position: relative;
/* background-color: rgba(63, 131, 84, 0.8); /
/ Back을 가운데 정렬 */
display: flex;
justify-content: center;
align-items: center;
/* filter: brightness(1%); */
}

.Back {
width: 75%;
height: 85%;
position: fixed;
display: flex;
border: 3px solid black;
background-color: #93BFCF;
border-radius: 10px;
}

.Back .Hamster {
  background-color: #f9fbe7;
  /* background-color: #f9fbe7; */
border-top: solid 3px black;
border-left: solid 3px black;
border-bottom: solid 3px black;
border-right: solid 3px black;
/* border-top-left-radius: 15px;
border-bottom-left-radius: 15px; */
border-radius: 10px;
text-align: center;
width: 30%;
margin: 0px;
position: relative;
margin: 1em;

}

.Back .Screen {
  /* border-radius: 15px; */
  background-color: #f9fbe7;
display: flex;
flex-direction: column;
text-align: center;
width: 65%;
border: solid 3px black;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
margin: 0px;
position: relative;
/* margin-right: 1em; */
margin-top: 1em;
margin-bottom: 1em;
}

.Back .buttonflex {
display: flex;
flex-direction: column;
width: 2em;
/* margin-right: 1em; */

margin-top: 1.6em;
position: relative;
}

.buttonflex button {

  height: 3em;
  width: 6em;
  text-align: center;
  border: none;
  border-top: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
 
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #f9fbe7;
}

/* 보드 페이지에 하단 버튼 리스트 /
.BoardButton {
width: 100%;
position: absolute;
bottom: 0;
border-top: 3px solid black;
/ padding-bottom: 3px; */


.BoardButton button{
white-space: pre;
cursor: pointer;
border: none;
/* border-top: 5px solid red; /
/ border-right: 1px solid black;
border-left: 1px solid black; /
/ border-bottom: 1px solid red; /
padding-right: 5px;
background-color: #f9fbe7;
height: auto;
width: 20%;
/ border: 1px solid black; */

transition-property: color, background-color;
}

.BoardButto--active {
  color: pink;
  background: red;
}