/* 최상위 */
.Quests {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 헤더 부분 */
/* 일간, 주간 버튼 */
.QuestHeaderButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.QuestHeaderButton_btn1, .QuestHeaderButton_btn2 {
    width: 8em;
    margin-right: 10px;
}

.QuestHeaderButton_btn1 img, .QuestHeaderButton_btn2 img{
    width: 8em;
}

.TutorialButton {
    border-radius: 0.75rem;
    background-color: rgb(146, 85, 59);
    color: white;
    border: none;
    margin-left: auto;
    margin-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
}


/* 퀘스트 리스트 */

.QuestList {
    overflow: scroll;
    height: min-content;
    z-index: 1;
}
.QuestList::-webkit-scrollbar {
    display: none;}
    
/* 퀘스트 아이템 */
.QuestItem {
   overflow: hidden;
  display: flex;
  justify-content: flex-start;
  height: 4rem;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 5%;
  align-items: center;
  
  border-radius: 0.75em;
  background: url("../../public/assets/todobck.png") no-repeat;
  background-size: cover;
  /* background-color: transparent; */
  z-index: 30;
}


.noselect {
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
 }

textarea:disabled {
    color: #ced4da;
    text-decoration: line-through ;
    
    /* background-color: pink; */
}

.QuestItemButton {
   /* flex-basis: 50%; */
   width: 20%;  
}


/* 퀘스트 튜토리얼 */

#flipbook {
  width: 800px;
  height: 400px;
}

#flipbook .turn-page {
  background-color:#ccc;
}