.TodoList {
    overflow: scroll;
    /* margin-bottom:30px;   */
    border-top: 3px solid black;
}

.TodoList::-webkit-scrollbar {
display: none;}

/* .TodoList::-webkit-scrollbar-thumb {
    height: 30%; 
    background: green;
    border-radius: 10px;
}

.TodoList::-webkit-scrollbar-track {
    background: rgba(87, 248, 1, 0.325);  
} */

.Calbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.TodoItem {
    display: flex;
    justify-content: start;
    height: 5rem;
    padding-left: 5%;
    align-items: center;
    border-bottom: 1px solid black;
}

.CheckTodo {
    /* position: relative; */
    width: 6vh;
    height: 6vh;
    background-color: transparent;
    cursor: pointer;
}

.TodoSetting {
    width: 6vh;
    height: 6vh;
    background-color: transparent;
    margin-left: 0.77777777777777rem;
    cursor: pointer;
}

.content {
    margin-left: 1rem; 
}

p:disabled {
    color: #ced4da;
    text-decoration: line-through ;
    /* background-color: pink; */
}

.todoline{
    border: 1px solid black;
    height: 15px;
}
