@font-face {
    font-family: "miness";
    src:url("./fonts/mine.ttf") format("truetype"),
    url("./fonts/mine.woff") format("woff"),
    url("./fonts/mine.eot?iefix") format("embedded-opentype");
    /* font-style: lighter; */
}

* {
    font-family: "miness";
    /* cursor: url('./../public/levellogo/lvlogo\ \(1\).png') 60 40, auto; */
}

body {
    margin: 0px;

    /* 드래그 방지 */
    -webkit-touch-callout: none;
     user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -webkit-user-select: none;
}

.Header {
    height: 10%;
    border-bottom: 3px solid red;
    display: flex;
    /* justify-content: start; */
    padding-left: 2%;
    /* padding-right: 3%; */
    /* padding-bottom: 1%; */
    /* padding-top: 1%; */
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    /* font: bold; */
    /* font-weight: 50px; */
}

.Header span {
    /* justify-content: start; */
    
}

.Header button {
    /* justify-content: end; */
    height: 3rem;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #f9fbe7;
}

