.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background: repeating-linear-gradient(150deg, #7cac54, #7cac54 20px, #3f8744 0, #3f8744 40px);
  /* board를 가운데 정렬 */
  display: flex;
  justify-content: center;
}

.Board {
  min-width: 80%;
  min-height: 100%;
  position: relative;
  background-color: rgba(63, 131, 84, 0.8);
  /* Back을 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Back2 {
  min-width: 80%;
  min-height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
}

.Back {
  background-color: #f9fbe7;
  min-width: 60%;
  min-height: 80%;
  position: fixed;
  /* border: solid 7px pink; */
  box-shadow: 0 0 0 3px #000 inset; 
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.ButtonList {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  flex-direction: column;
  /* flex-grow: 1; */
  float: right;
  margin-left: 80%;
  margin-bottom: 20%;
}

.ButtonList .btn {
  background-color: gray;
  margin-bottom: 10px;
  height: 30px;
}

.Back .Hamster {
  /* border: solid 5px pink; */
  text-align: center;
  width: 30%;
  margin: 0px;
  padding: 0px;
}

.Back .Screen {
  text-align: center;
  width: 70%;
  border-left: solid 3px black;
  margin: 0px;
  padding: 0px;
}

/* .BackSlide {
  display: flex;
  flex-direction: row;
}

.BackSlide img {
  flex:1
} */

.slide1 {
  flex-basis: 40%;
  display: flex;
  padding: 0 5%;
}

.slide1 img {
  display: flex;
  width: 100%;
  height: auto;

  margin: auto;
  /* padding-right: ; */
  /* display: block; */
}



/* Login */
/* Login */
/* Login */
/* Login */
/* Login */

.page {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  padding-right: 4%;
  
}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: 700;
  color: #262626
}

.contentWrap {
  margin-top: 26px;
  flex: 1
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid gray;
}

.inputWrap:focus-within {
  border: 1px solid #9230f4;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #9230f4;
  border-radius: 64px;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

/* 소셜로그인 */
/* 소셜로그인 */
/* 소셜로그인 */
/* 소셜로그인 */
.socialLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}

.socialLogin .loginBtn {
  /* width: 100%; */
  /* object-fit: fill; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.socialLogin button {
  /* margin-top: 20px; */
  outline: none;
  border: none;
  width: 100%;
  /* height: 17px; */
  /* border-radius: 8px; */
}


.signuppage {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
}